@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body

/*contenido de mi sitio*/
    {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    /*tamaño que arranco*/
    line-height: 20px;
    /*alto de lineas para que se vayan separando*/
    background-color: black;
}

header

/*cabecera*/
    {
    background-color: #458246;
    padding: 16px 0;
}


header img {
    width: 250px;
    padding: 0%;
    margin-top: auto;
    margin-left: 40px;

}

.navbar {
    font-size: 40px;
    font-weight: 100;
    display: inline-block;
    /*o tambien se puede poner inline-flex*/
    position: static;
    bottom: 35px;
    margin-left: 50px;
    border-radius: 10px;
}

nav

/*navegacion*/
    {
    margin-bottom: 20px;
    background-color: black;
}

nav ul

/*el padre de todos los elementos*/
    {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li

/*toda la botonera*/
    {
    justify-content: center;

}

nav ul li a

/*poner la manito*/
    {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    border-radius: 5px;
}

nav ul li a:hover

/*cambia de color cuando apoyo la manito*/
    {
    background-color: #458246;
    border-radius: 5px;
}

nav ul li a.activo

/*queda fijo el color*/
    {
    background-color: #458246;
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.row .col {
    color: white;
    text-align: center;
}
h5 {
text-decoration: underline;
font-weight: bold;}

 .registrate {
background-color: #458246;
color: white;
display: block;
 }

 h4 {
font-weight: bold;
color: white;
font-size: 20px;
}


.registrate button:hover

/*cambia de color cuando apoyo la manito*/
    {
    background-color: orange;
    border-radius: 5px;
} 

.registrate button

/*cambia de color cuando apoyo la manito*/
    {
    background-color: white;
    border-radius: 5px;
    color: #458246;
    background-color: white;
} 

/*fin home*/
/*inicio perros*/

 .marcas {
        display: flex;
        justify-content: space-between;
        color: white;
        column-gap: 20px;
         max-width: 100%; 
  max-height: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
   }

     .marca {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        padding: 0%;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;

        
   }

          .marca img {
       border-radius: 70%;
       max-width: 50%;
       box-shadow: 0 0 5px;
       margin-bottom: 10px;
        max-width: 100%; 
  max-height: 100%;
   }

         .marcas h6{
       margin: 0%;
       font-weight: normal;
       color: green;
       margin-top: 10px;
       box-sizing: border-box;
   }
   
   .marcas h5{
color: white;
   }
   
       .marcas p {
      color: white;
      font-size: 20px;
      margin-top: 20px;
      color: white;
      margin: 0%;
              max-width: 100%; 
  max-height: 100%;
  box-sizing: border-box;
   }

          h2 {
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
   }
   .marcas h5:hover{
    background-color: green;
   }

 h5 a/*poner la manito*/{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;}
    /*fin perros*/


    /*inicio gatos*/
     .gato:nth-child(even) /*pares*/{
flex-direction: row-reverse;
   }

.gatosalimentos {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        color: white;
        column-gap: 10px;
        word-wrap: break-word;
        flex-wrap: nowrap;
   }


   .gato {
border: 1px solid #ccc;
        border-radius: 5px;
        width: 18%;
        text-align: center;
        padding: 13px;
        box-sizing: border-box;

flex-wrap: nowrap;
align-items: center;
    
   }
   .gatosalimentos .gato h5{
 color: white;
 font-weight: 500;
 font-style: italic;
 border-bottom: 1px solid white;
 padding-bottom: 10px;
 align-items: center;
   }
      .gatosalimentos .gato h6{
 color: green;
 font-weight: 500;
 font-style: italic;
 border-bottom: 1px solid green;
 padding-bottom: 10px;
   }
   .gatosalimentos .gato p{
font-size: 13px;
line-height: 19px;
color: white;
   }
     .gato img {
border-radius: 13px;
max-width: 100px;
align-self: flex-start;
margin-bottom: 10px;
box-sizing: border-box;
 max-width: 100%; 
  max-height: 100%;  
   }


    /*fin gatos*/
     /*inicio promociones*/
     .promociones{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
     }
          .promociones img{
     width: 30%;
border: 10px solid green;
padding: 0,3px;
box-sizing: border-box;
margin-bottom: 20px;
margin-right: 2%;
box-shadow: orange 10px 5px 3px;
    
     }


      /*fin promociones*/
        /*inicio contacto*/
             .contacto{
        color: white;
        display: flex;
gap: 24px;
    }

     .contacto div {
width: 100%;

   }

     .datos p {
font-size: 14px;

   }

     .datos ul li {
font-size: 14px;
 list-style-type: none;

   }

     .formulario p{
display: flex;

   }

        .formulario p label{
min-width: 80px;

   }

           .formulario p input ,
         .formulario p textarea{
width: 100%;
background: white;
border-radius: 5px;
border: 1px solid white;
font-size: 5px;
padding: 6px 10px;

   }

      .formulario p label{
display: flex;
align-items: flex-start;

   }

            .formulario textarea{
resize: none;
height: 150px;
   }


            .formulario p:nth-child(4){
                align-items: start;

   }

         .formulario input[type="submit"] {
            background-color: green;
            box-shadow: 0 0 10px black (0, 0, 0, 0.4);
            color: white;
            font-size: 16px;
            padding: 6px 20px;
            cursor: pointer;
            width: auto;
            position: relative;
            left: 80px;
            

   }

     material-icons{
            background-color: yellow;
          }
          /*fin contacto*/




        